<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.h2oreminder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:text="H2O Reminder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TuApp">

        <!-- Pantalla de inicio (MainActivity) -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Pantalla de establecer objetivo (GoalActivity) -->
        <activity android:name=".GoalActivity"/>

        <!-- Pantalla de historial de hidratación (HistoryActivity) -->
        <activity android:name=".HistoryActivity"/>

    </application>

</manifest>
